<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

    <fieldset>
        <legend>Registration Form</legend>

        <form action="/web/register" method="POST">
            <input type="text" name="name" placeholder="Enter the name">
            <br>
            <br>
            <input type="email" name="email" placeholder="Enter the email">
            <br>
            <br>
            <input type="password" name="password" placeholder="Enter the password">
            <br>
            <br>
            <input type="submit" value="register">

        </form>

    </fieldset>
    
</body>
</html>